[2016-12-20 18:44] alessio opened #1 "Signature's native JSON marshalling does not encode instances into base64 format"
`Signature` concrete types should define their own `MarshalJSON()` and `UnmarshalJSON()` methods as currently marshalling objects does not work as expected. In particular, `json.Marshal()` returns a stringified array of integers; byte arrays should be marshalled into base64 strings instead. The following simple program may be used to reproduce the issue:
[code]

[2016-12-20 18:49] alessio commented on #1
Please note that the same issue affects `crypto.PrivKey` and `crypto.PubKey` concrete types too.

[2016-12-23 20:59] ramilexe commented on #1
why? doesn't stringified array of integers represent byte array?

[2016-12-26 10:35] alessio commented on #1
@ramilexe, it might, though it's weird and the JSON marshalling output is inconsistent:
[code]

[2017-03-17 06:21] rigelrozanski opened #5 "Change XxxS anonymous field name to non-anonymous fields named Value"
This applies across the board in go-crypto, change all the `type XxxS struct`, to have a `Value Xxx` field instead of just the anonymous interface?

https://github.com/tendermint/go-crypto/blob/3f47cfac5fcd9e0f1727c7db980b3559913b3e3a/signature.go#L31

Example change, From:
[code]
to
[code]

[2017-03-20 09:09] ethanfrey commented on #5
This solution does make the constructor safer, but it seems harder to use for me.  I made an example of another approach in 8ff4ce2 (feature/improve-godata), which rejects manually constructing the XxxS objects (which is where the error came from), rather using a `WrapXxx()` constructor that makes sure we don't nest multiple levels.

This was inspired by the usage of embedding anonymous interfaces

[2017-03-29 13:20] ethanfrey commented on #5
Solution agreed to at the meeting (which solves this) is being worked on in #6

If you can "fix" the issue about not being able to use go-wire with private fields, that would be AWESOME.  (But either hacking go runtime or modifying go-wire).

[2017-04-09 06:40] jaekwon commented on #5
Seconded.  Lets see how #6 goes.

[2017-04-09 06:40] #5 closed, assigned to nobody

[2017-05-06 23:34] ebuchman opened #12 "HD Cleanup"
– Returns the secret twice: https://github.com/tendermint/go-crypto/blob/master/hd/address.go#L86

[2017-05-12 12:24] ethanfrey opened #13 "Use ethereum's web3 secret storage as the file storage format"
Would be especially good to meet ethereum's key standard: https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition

## Frey's comments on this:

Took a look into the ethereum "standard" and find it a bit confusing. Maybe you can explain:

Where is the source code for their implementation? No luck finding it with google. Ideally it would be a compatible license, so we could use it, but

[2017-05-12 12:40] ethanfrey opened #14 "Integrate mneumonics from mintkeys"
Note there's also https://github.com/tendermint/mintkey for wordlist stuff

We should figure out some way to integrate this for exporting secret keys or verifying public keys

[2017-06-01 11:14] ethanfrey commented on #1
@alessio is this still an issue with the current version?

The abstract type should marshal as a map of type and data.
The concrete type should marshal just as a string (which is the data of the above).

This string is by default hex.  If you want base64, you can change it my setting the global "bytes" encoding to base64 or hex:

https://github.com/tendermint/go-wire/blob/master/data/bytes.go#L20-

[2017-06-18 09:12] #1 closed, assigned to nobody

[2017-06-18 09:13] ethanfrey opened #17 "Better support for non-interactive password"
There was a request for non interactive password entering for test scripts

https://github.com/tendermint/light-client/issues/23

This works with echo and pipe, but is the prompt is still output to stdout and needs to be trimmed from the json output

We could support some extra fd as input as mentioned on the linked pages from the above issue...

Like `--password=3` for a custom fd or `--password

[2017-06-18 18:46] ethanfrey opened #18 "Add support for a post-quantum signature algorithm"
Maybe something like http://tbuktu.github.io/ntru/?

[2017-06-18 23:04] rigelrozanski commented on #18
cool we can maybe use Cgo on their C implementation https://github.com/tbuktu/libntru or just port - looks like an active project

[2017-06-19 06:34] adrianbrink commented on #18
We should also look at these guys since it is an active project and they have many choices.

https://github.com/open-quantum-safe/liboqs

[2017-06-19 15:51] ethanfrey commented on #17
Fixed in #19

[2017-06-19 15:51] #17 closed, assigned to nobody

[2017-06-20 15:55] ethanfrey opened #20 "Expose support for HD keys in keys and cmd/keys"
There is some code here, but where do we use it?

We should come up with a good way to integrate it into the rest of our system.

[2017-06-20 15:56] ethanfrey commented on #20
See also #12

It would be great for some feedback on how "ready for primetime" this feature is.

[2017-06-20 18:08] jaekwon commented on #18
See what these guys found: https://theqrl.org/roadmap.html . Their coin, QRL, is trading on the market.

I don't think it would be hard to make Tendermint quantum proof.  As long as we can find a deterministic quantum proof signature scheme, which are probably cited from theqrl.org's whitepaper.

#bounty

[2017-06-20 22:12] mattdf commented on #18
If you're going to use NTRU for signatures, be mindful of the key recovery attacks: http://homepages.cwi.nl/~ducas/NTRUSign_Cryptanalysis/DucasNguyen_Learning.pdf

Also, NTRU is still relatively patent encumbered, depending on the codebase/features you use, not sure if the dynamic perturbations are under patent or not.

QRL just uses XMSS: https://eprint.iacr.org/2011/484.pdf

Maybe you can have s

[2017-06-21 17:00] ethanfrey commented on #14
Fixed in #19

[2017-06-21 17:00] #14 closed, assigned to nobody

[2017-06-23 06:22] jaekwon commented on #18
Related: https://twitter.com/jaekwon/status/877228321121083392

[2017-06-23 06:44] ethanfrey commented on #18
Hey @mattdf are you working on this?  That's awesome.

I have minimal knowledge of the practical differences of these experimental algorithms.  If it is not used by ssh or bitcoin, ethereum, I probably have not looked at it.

All I would ask is that whatever algorithm implement the go-crypto interfaces:

PrivKey, PubKey, and Signature.  They abstract away the creating and verification steps.  If o

[2017-06-26 19:56] mappum opened #21 "HD address scheme vs. Pubkey address scheme"
The current address scheme for the `PubKey` type is this: `ripemd160(pubKeyTypeByte + pubKeyBytes)`
(`+` is concatenation).

The scheme used in the Cosmos Fundraiser and in `go-crypto/hd` is this: `ripemd160(sha256(pubKeyBytes))` (and the keys use the secp256k1 curve).

Now we are getting to a point where we will need to use the Fundraiser addresses (the latter scheme) in Basecoin, which only uses

[2017-06-26 19:59] ebuchman commented on #21
We already support the proper scheme: https://github.com/tendermint/go-crypto/blob/master/pub_key.go#L125

[2017-06-26 20:01] mappum commented on #21
Oh perfect, nevermind then. I had only been using ed25519 keys up until now, didn't realize the address function was different for different curves.

[2017-06-26 20:01] #21 closed, assigned to nobody

[2017-06-28 06:47] gguoss opened #22 "build error"
when build it, some error as follows:

utils.go:10:2: cannot find package "github.com/bgentry/speakeasy" 。

There is no bgentry in the github repository。

[2017-06-28 07:03] gguoss commented on #22
sorry, make get_vendor_deps is solved this issues.

[2017-06-28 07:04] gguoss commented on #22
sorry, make get_vendor_deps is solved this issues.

[2017-06-28 07:04] gguoss commented on #22
sorry, make get_vendor_deps is solved this issues.

[2017-06-28 07:04] #22 closed, assigned to nobody

[2017-07-26 22:04] odeke-em opened #24 "README: use godoc reference instead of hardcoded index/table-of-contents"
Currently the README consists of a hardcoded index, listing every exposed function's signature and containing a hardcoded link to the definition
<img width="1067" alt="screen shot 2017-07-26 at 3 56 10 pm" src="https://user-images.githubusercontent.com/4898263/28645519-0e650796-721b-11e7-8800-39124f60d2a1.png">

There are some problems with this:
1) The function definitions are hardcoded by line n

[2017-07-27 03:07] odeke-em commented on #12
@ebuchman could you please elaborate for me what the problem is in the code snippet you point to?
<img width="1175" alt="screen shot 2017-07-26 at 9 06 28 pm" src="https://user-images.githubusercontent.com/4898263/28652662-56f4fc7a-7246-11e7-8782-a97b6f368a7e.png">

[2017-08-25 22:37] ebuchman opened #29 "Struct wrappers with un-inited interfaces panic on String()"
ie. https://play.golang.org/p/8PPu0PBr-x

or

[code]

In the context of this library, the following prints a panic.

[code]

Is there a way to solve this without making a default Nil implementation of the interface for everything that has a `String()` ? Ie. `SignatureNil`.

[2017-08-25 23:05] zramsay commented on #24
closed in #25, #28

[2017-08-25 23:05] #24 closed, assigned to nobody

[2017-08-25 23:06] odeke-em commented on #24
Thank you @zramsay for the reminder and close!

[2017-08-30 05:06] odeke-em commented on #29
@ebuchman sorry if this is a dumb question, but would you mind pointing to actual source code that uses this? IMHO that code's structure, composing an interface into a struct looks iffy and maybe we could take a look at redesigning that if possible, because so far I don't think there is any way we can get around it without implementing a .String() method.

From an eyeballing, was perhaps the inten

[2017-08-30 11:06] ethanfrey commented on #29
The purpose was to add methods to anything that satisfies the interface. And you can add methods directly to an interface.....

Namely, we use it to override json marshaling and a few other things.

The struct could also implement a String dispatcher or anything else we need to work on empty structs.

However, any code calling string on a nil interface would panic anyway, a caller should ensure no

[2017-08-30 11:07] ethanfrey commented on #29
If it is only for debugging statements, I can get behind making this safer

[2017-08-30 11:10] ethanfrey commented on #29
Actually I think the solution is to remove the String method from the signature interface. Fmt. Println will find it if implemented using reflection, no need to declare.

Also the assert signature method is redundant now that we have wrap

[2017-08-30 18:08] ebuchman commented on #29
Yes maybe we just remove the `String()` ! I'll take a look at that

[2017-09-06 06:33] #29 closed, assigned to ethanfrey

[2017-09-07 07:40] odeke-em opened #31 "helpers: provide helpers to generate keys"
Am currently writing code to test out the bug fix for https://github.com/tendermint/tendermint/issues/514 in which we have a dishonest peer requesting a non-existent block height from a reactor and that requires a whole lot of setup.

I currently see that we have helpers for PrivKeyEd25519
https://github.com/tendermint/go-crypto/blob/1bc8de4caa844f8b64c120e65b047898f22b7f3e/priv_key.go#L99-L114

H

[2017-09-07 07:40] odeke-em commented on #31
/cc @ethanfrey @ebuchman @cloudhead

[2017-09-08 18:28] ethanfrey commented on #31
What about `GenPrivKeyEd25519().PubKey()`?

That's what I do, and your logic would do under the hood.  Not too much work, no?

[2017-09-12 18:55] odeke-em opened #35 "docs: implement a doc.go file to provide high level usage and code usage of this package"
This issue supersedes https://github.com/tendermint/go-crypto/pull/32 and its issue https://github.com/tendermint/go-crypto/issues/31 in which it I had to mistakenly dig through the source code of `GenEd25519Key` and extracted out a few helpers to retrieve the public key.

However, @ethanfrey and @ebuchman gave me guidance on the PR #32 that we can in fact invoke
`GenEd25519Key().PubKey()` which w

[2017-09-12 18:58] odeke-em commented on #31
Thanks @ethanfrey, and my apologies for the late reply, I was off from here since the weekend, but am back.

As per your recommendation and exhibit above, I've opened #35 in which we can provide a high level view of docs for go-crypto to easily transfer such knowledge to other developers and provide some more documentation. I'll close this issue in favor of the mentioned one.

[2017-09-12 18:58] #31 closed, assigned to nobody

[2017-09-12 23:06] jaekwon opened #36 "Merge mintkey in"
We need to use bcrypt for cryptostore.
Lets merge in https://github.com/tendermint/mintkey/blob/master/cmd/mintkey/common.go

[2017-09-13 14:19] ethanfrey commented on #36
This is noted in a comment.  I wasn't sure how to set up bcrypt securely, so I left it as a TODO until someone did it wrtie. (Better missing than buggy).  Could you make a PR to show me how?

The code to modify is here:
https://github.com/tendermint/go-crypto/blob/master/keys/cryptostore/encoder.go#L23-L26

I guess it should do something like:
https://github.com/tendermint/mintkey/blob/master/cmd/

[2017-09-13 16:31] ethanfrey commented on #36
Is bcrypt even the right choice?

Scrypt seems much better against GPU cracking, and is in the go/x/crypto libs:
https://godoc.org/golang.org/x/crypto/scrypt

Or even other algorithms like argon2, the winner of the password hashing competition:
https://news.ycombinator.com/item?id=10863131

Notes on go implementations, which seem not really production-ready:
https://github.com/magical/argon2
https

[2017-09-13 23:24] adrianbrink commented on #36
This is implemented in #38

[2017-09-13 23:30] adrianbrink commented on #36
I think we should stick with the proven crypto, which in this case is bcrypt. It has aged nicely for 14 years without any theoretical vulnerabilities. Scrypt with 3-4 is much less proven. It is more memory heavy and hence better against FPGA cracking.

Some sources:
https://security.stackexchange.com/questions/26245/is-bcrypt-better-than-scrypt#26253

[2017-09-14 06:14] ethanfrey commented on #36
It would be great to make this configurable somehow. At least bcrypt and scrypt. But I think that is related to #13

[2017-09-14 07:03] adrianbrink commented on #36
I'll look into that once I have some time

[2017-09-14 14:45] mveytsman opened #39 "`MixEntropy` will reuse keys when called multiple times with the same source"
I'm a bit worried about how the random number generator implemented below works:

https://github.com/tendermint/go-crypto/blob/9016390a6e4d957b909650dbfa63b81510c3a68d/random.go#L59-L93

The PRNG uses a AES in CTR mode with a key derived from some other entropy source to encrypt the system random stream, producing a "mixed" random stream.

`MixEntropy` takes some bytes from the user, hashes them,

[2017-09-23 02:46] odeke-em commented on #35
Fixed by https://github.com/tendermint/go-crypto/pull/40.

[2017-09-23 02:46] #35 closed, assigned to nobody

[2017-09-23 03:01] odeke-em commented on #18
I recently started working on a Haraka v2 https://eprint.iacr.org/2016/098.pdf port to Go, where the reference implementation in the paper is at https://github.com/kste/haraka, we might be releasing it soon. Its effectiveness is for hashing short inputs i.e 32 and 64 byte inputs. However, the adoption/popularity of the algorithm amongst other cryptocurrency and blockchain systems will determine wh

[2017-10-26 02:47] odeke-em opened #43 "ensure that private key comparisons are constant time comparisons to avoid timing attacks"
Let's inspect our code and ensure that any private key or HMAC comparisons are always constant time comparisons instead of using `bytes.Equal` which is susceptible to timing/side channel attacks. When cryptographers audit our code, most likely the keen ones will point out the same problem out.

[2017-10-28 21:06] odeke-em opened #48 "PubKeyFromBytes should return a blank PubKey on failing to parse bytes"
The current implementation of PubKeyFromBytes could be improved. It currently is
https://github.com/tendermint/go-crypto/blob/dd20358a264c772b4a83e477b0cfce4c88a7001d/pub_key.go#L16-L19

Notice that even if `err != nil` we took the address of the named return value so set some stuff in it.
The problem though is that if we try to parse a key with invalid bytes and that fails, later on test
`pubKey.

[2017-11-06 19:05] #48 closed, assigned to nobody

[2017-12-21 01:55] Max-Pano opened #52 "Folder not exit when install Basecoin"
Hi, all
when I installing the Basecoin followed by the instruction, there is a fail that certain package found with a name "tendermint/go-crypto/cmd", the log is down below. does there a history version that contain the /cmd folder,  or what's you advise to do to solve this? thanks!

package github.com/tendermint/go-crypto/cmd: cannot find package "github.com/tendermint/go-crypto/cmd" in any of:

[2017-12-21 11:29] zramsay commented on #52
which instruction are you following? ensure you've run `make get_vendor_deps` then `make install`

[2017-12-21 11:30] zramsay commented on #36
#38

[2017-12-21 11:30] #36 closed, assigned to nobody

[2017-12-27 06:47] odeke-em commented on #52
Ping @Max-Pano, @zramsay left some questions.

[2017-12-29 15:59] zramsay commented on #52
closing as stale. @Max-Pano please re-open if you encounter the issue again

[2017-12-29 15:59] #52 closed, assigned to nobody

[2017-12-30 17:08] ebuchman opened #57 "keys: Recover from seed without persisting to disk"
We should be able to enter a seed and use a privkey without that privkey ever being saved to disk

[2017-12-30 23:00] ebuchman commented on #12
fixed here: https://github.com/tendermint/go-crypto/pull/59

[2017-12-30 23:00] #12 closed, assigned to nobody

[2017-12-30 23:03] ebuchman commented on #36
configurable kdf is done in https://github.com/tendermint/go-crypto/pull/58 via the armor headers. we can add support for scrypt if we like down the road.

[2017-12-30 23:05] ebuchman commented on #13
Let's stick with the armor format we're using now. It's clean and standard, and as of https://github.com/tendermint/go-crypto/pull/58 it supports a configurable kdf using the armor headers.

[2017-12-30 23:05] #13 closed, assigned to nobody

[2017-12-30 23:19] ebuchman commented on #57
Oh - maybe that's just using memDB!

[2017-12-30 23:19] #43 closed, assigned to nobody

[2017-12-30 23:21] ebuchman opened #60 "Fork/Repo/Dep Management"
We have a fork of agl/ed25519 in tendermint/ed25519 and a fork of golang/x/crypto/bcrypt in here.

Let's instead fork golang.org/x/crypto and keep any changes we need in there.

We generally only need changes to support controlling input randomness:

- ed25519: need to MakePublicKey from self-generated priv key
- bcrypt: need to pass custom generated salt

x/crypto doesn't seem to support ToCurve2

[2018-02-03 04:29] ebuchman commented on #60
Note agl/ed25519 has diverged somewhat from https://godoc.org/golang.org/x/crypto/ed25519 (https://github.com/tendermint/ed25519/issues/2)

[2018-02-10 17:23] zmanian opened #65 "Integration with bech32cosmos"
Feature:

Go-crypto should be integrated with [bech32cosmos](https://github.com/cosmos/bech32cosmos)

String representation of cryptographic objects that come from go-crypto or are deserialized by go-crypto should only be provided in bech32cosmos form.

I think this is the right way to approach https://github.com/cosmos/cosmos-sdk/issues/263 but looking for confirmation.

[2018-02-14 15:55] adrianbrink opened #67 "Integrate ThresholdPubKeys"
We should just make one PubKey be a ThresholdPubKey, so you can use PubKeyEd25519 or ThresholdPubKey, which can hold a PubKeyEd25519.

ThresholdPubKey has 2 fields… a slice of `type ThresholdPubKeyItem struct { PubKey, Power int64 }` and a `Threshold int64` too. (edited)

[2018-02-19 06:25] jaekwon commented on #67
Wanna implement it?

[2018-02-20 15:04] sunnya97 commented on #67
Types I showed Zaki a few days ago:

`type SigSet struct {
    SigList []Sig
    WeightNeeded uint
}

type Sig struct {
    SigBytes crypto.Signature
    SigScheme string
    Weight uint
}`

[2018-02-22 13:52] silasdavis commented on #39
I agree with all of your proposals here. This code has bothered me in the past.

[2018-02-22 14:07] silasdavis opened #69 "Don't Panic!"
Currently code panics on errors in signing and generating keys. Whilst these errors might be unlikely they are not impossible and its not nice behaviour to take down a key-signing daemon just because there is a temporary issue with the entropy source, for example. Let's just return errors and let callers panic if they want to.

Happy to make PR for this.

[2018-02-22 18:53] odeke-em commented on #69
Yeah, I have the same convictions and not a fan of seeing panics all around, I too would prefer errors. Thank you @silasdavis!

[2018-02-28 01:32] ebuchman opened #72 "keys/types.go#readInfo should check for empty bytes"
Using this in the cosmos-sdk CLI gives indecipherable error when there's a simple typo in the key name

[code]

https://github.com/tendermint/go-crypto/blob/develop/keys/types.go#L53 should return a better error if the bytes are empty.

[2018-03-02 15:42] ebuchman opened #74 "Merge v0.5.0 back into develop"
v0.5.0 took the latest state from develop before the new go-wire. It includes the refactor of the Keybase.

Note this required splitting the commit 788cc0a79256d4fe0448e17a90217acf3d61346b because that commit refactored the Keybase and updated for new go-wire all at once.

So v0.5.0 needs to be merged back into develop, or develop should be rebased on it. Probably the former

[2018-03-02 16:41] ebuchman commented on #74
Done via merge https://github.com/tendermint/go-crypto/commit/e05ba9511ae5a48987168918c92583729f218952

[2018-03-02 16:41] #74 closed, assigned to nobody

[2018-03-03 13:04] jaekwon commented on #65
Too many things... lets keep the discussion on https://github.com/cosmos/cosmos-sdk/issues/263 ,
and there is a PR at https://github.com/tendermint/go-crypto/pull/66

[2018-03-03 13:04] #65 closed, assigned to zmanian

[2018-03-12 07:42] asuleymanov opened #75 "ERROR tendermint/go-wire/data"
Help. An error occurs when using the library.
../github.com/tendermint/go-crypto/priv_key.go:10:2: cannot find package "github.com/tendermint/go-wire/data" in any of:
        /opt/go/src/github.com/tendermint/go-wire/data (from $GOROOT)
        /home/ubuntu/workspace/src/github.com/tendermint/go-wire/data (from $GOPATH)
How to fix it?

[2018-03-12 09:22] adrianbrink commented on #75
Which version of the library are you using and with what other pieces of our ecosystem (tmlibs, tendermint, ...)?

If you have an overall go project could you post your `Gopkg.toml` or `glide.yaml` file.

[2018-03-12 09:29] asuleymanov commented on #75
Thank you very much for the answer. But I solved this problem.

[2018-03-12 09:29] #75 closed, assigned to nobody

[2018-03-13 03:17] amrali opened #77 "Dependency on go-amino for generating addresses"
On update-go-amino branch there's this code https://github.com/tendermint/go-crypto/blob/73407e7cff462bf4ffcc44d55a9dd4570dd57fed/pub_key.go#L49 and similar code on the master branch.

In TM core the `PrivValidatorFS` struct depends on `PubKeyEd25519.Address` method to get an address, using `amino.MarshalBinary` effectively makes the address generation process dependent on go-amino. Is this intent

[2018-03-13 12:45] jaekwon commented on #77
Bytes() *is* marshalling.  Sorry about the pain, we're going through a final refactor for our marshaling library (from go-wire to go-amino).  It is now stable.

[2018-03-13 12:50] jaekwon commented on #77
@amrali Are you implementing go-crypto's functionality in another language?

If not, in Go, users of go-crypto should never have to do things like `append([]byte{TypeEd25519}, pubkey...)` because the high-level exported functions of go-crypto provide that logic for you.

[2018-03-13 12:52] jaekwon commented on #77
Also, it may not make sense now, but we certainly will have more and more PubKey etc types that require a codec for properly (un)marshaling complex structures, so that we can compute the address in a safe and efficient way.  For example, we will support ThresholdPubKey soon which combines multiple PubKeys together.  Amino helps a lot here.

[2018-03-13 14:07] amrali commented on #77
I'm implementing a small address function in Python to generate an address based on Ed25519 public key. The problem I'm anticipating is that if we rely on go-amino for address generation then by extension anyone wanting to write a wallet software for example would have no choice but to do it in golang or port go-amino to their language of choice.

I find it odd that address generation relies on ma

[2018-03-13 14:12] ebuchman commented on #77
There is some precedent, ie. Bitcoin's pubkeys use the OpenSSL encoding (prefix a 02 or 03 for compressed keys depending on the y-value, or a 04 for uncompressed).

Ethereum also just keeps the 04 around.

Amino is now identical to Protobuf3 except for how we handle interface types (`oneof`) using prefix bytes. Have you seen https://github.com/tendermint/go-amino#amino-vs-protobuf3 ?

To implement

[2018-03-13 14:16] amrali commented on #77
That qualifies as key type, but not wire protocol details (i.e., data length and type for object schema)

[2018-03-13 15:57] ebuchman commented on #77
Ah yes, very fair point.

What would you propose in the case of say threshold signature address when we have many pubkeys ? Just concatenate them together ?

Our Secp256k1 address uses the identical bitcoin format, and we're locked to that because it was used in the Cosmos fundraiser. For others we have some flexibility. I agree, the address generation should be as easy and straightforward as poss

[2018-03-13 16:27] amrali commented on #77
I agree that this is a hard problem to solve without having a schema to adhere to. And having an ad-hoc schema to just describe addresses is, well, ad-hoc. We should at least agree that the lack of schema documentation and the lock-in of Amino is not desirable, specially when the goal is to garner adoption and support from the community.

If Amino is essentially protobuf with a custom built schema

[2018-04-01 20:15] alessio opened #79 "Allow import/export of public keys only"
Hi,

I'd like go-crypto to allow import/export public keys only, more or less a-la-GPG.
This is because of https://github.com/tendermint/clearchain's requirements:

* Only ClearingHouse admin accounts can create foreign entities admin accounts.
* It'd be quite unsafe if a ClearingHouse admin generated a private-public key pair and handed it to the foreign entity admin. I'd expect the admins wantin

[2018-04-02 03:25] jaekwon commented on #79
I'm in favor of a unified keystore system that can also track public keys that works on all Cosmos zones.

[2018-04-02 09:56] alessio commented on #79
Yes @jaekwon, I am happy to help out. In my view, the `keys` command should feature the following subcommands:

* `generate`, `delete` and `update` - like current `create`, `delete` and `update`, without the `name` parameter as it's quite useless.
* `delete` command should support a `--public-key-only` option.
* `import` - import full key pairs and public keys only; it should support both binary a

[2018-04-05 11:18] ebuchman commented on #79
I don't quite understand - what's the use case for having just the public key in the keybase ?

[2018-04-05 11:33] alessio commented on #79
In clearchain there is a use case that needs special handling:

UC: New member (i.e. a legal entity) wants to joins the clearing house

1. A representative of the new member creates a private key.
2. It exports the public key only.
3. It hands the public key over a clearing house's admin.
4. The clearing house admin imports the public key, and
5. creates a new admin user for the new legal entity f

[2018-04-05 11:55] ebuchman commented on #79
What about that requires that the public key be added alone to the keybase though ? Sounds like all you need is a way to how the public key for a given key ... we have that already with the `--output json` flag, though looks like that output needs some cleaning up!

Once you have that pubkey, it just needs to be included in a transaction, but doesn't really seem important important to stick it in

[2018-04-05 12:41] alessio commented on #79
I very much agree to using JSON as portable format, I am happy to amend the
PR accordingly.

Re: the need of holding pub keys in keybase, when you want to include in a
transaction you either [1]:

1. Load it from file: `clearchainctl createAdmin --entityname=NewEntity
--entitytype=gcm --pubkey-file=pubkey.json`
2. Pass the name to the CLI tool as a reference to a pubkey stored in
keybase: `clearch

[2018-04-06 20:05] jaekwon opened #81 "Make crypto.PubKeyEd25519Size a const"
To be used in tendermint/p2p/secret_connection in lieu of the magic number 32.

[2018-04-08 03:57] kidinamoto01 opened #82 "Seedphrase Recover Issue"
the secret structure change from
[code]
to
[code]

which leads to key recover failure.

[2018-04-12 23:42] schuyler opened #83 "v0.6.x can't be used with Cosmos"
Attempting to add it to a `Gopkg.toml` yields unresolvable constraints when running `dep ensure`.

cc @zmanian

[2018-04-12 23:45] schuyler commented on #77
This has been a _serious_ pain point for us as well. We have lost _days_ of work trying to ascertain how this all works.

[2018-04-12 23:49] zmanian commented on #83
Try adding it using `[override]` directive rather than `[constrain]` directive

[2018-04-13 00:15] MikeSofaer commented on #18
The solution to quantum computer attacks, should one ever be needed, is a bit of a stretch goal for Cosmos, I think. There's a lot to focus on first :)

[2018-04-22 01:02] ebuchman commented on #82
The address changed as well.

Is it valuable to be able to recover old seeds even if it will lead to a different address ?

See https://github.com/tendermint/go-crypto/issues/77 for ref

[2018-04-23 03:05] #82 closed, assigned to nobody

[2018-04-26 13:31] ebuchman opened #84 "SignatureKey -> Sig"
ie. we're using `tendermint/SignatureKeySecp256k1` for amino names.

`SignatureKey` isn't a thing. It should just be `Signature`

[2018-05-02 22:31] xiaoxiaff opened #86 "PrivKeyEd25519 Generate function is broken"
revision = "915416979bf70efa4bcbf1c6cd5d64c5fff9fc19"
version = "v0.6.2"

It seems that the current PrivKeyEd25519 Generate function is broken. The test code:
[code]

result:
[code]

[2018-05-07 14:53] ebuchman commented on #86
Thanks! Fixed on develop

[2018-05-07 14:53] #86 closed, assigned to nobody

[2018-05-07 15:00] ebuchman commented on #69
Should we change the Sign method to `Sign(msg []byte) (Signature, error)` then ?

For certain things, panic seems fine - like errors on marshalling stuff that should not error.

And it looks like we've mostly removed other panics on generating or signing, except for one in Secp - but that will require changing the method signature

[2018-05-07 15:01] ebuchman commented on #83
I believe this is fixed. Please re-open / new issue if I'm mistaken. Thanks!

[2018-05-07 15:01] #83 closed, assigned to nobody

[2018-05-07 15:05] ebuchman commented on #18
Closing this for now . We can revisit maybe later this year ...

[2018-05-07 15:05] #18 closed, assigned to nobody

[2018-05-08 00:49] ebuchman opened #88 "Tool to output a table of Amino prefixes"
Lets add a simple tool to output a table of the Amino registered types so we can have a quick lookup to names and prefix bytes

[2018-05-08 00:57] ebuchman opened #89 "Word codec should implement BIP39"
`keys/words/wordcodec.go` should implement BIP39.

I believe it currently uses an adhoc ECC checksum. Instead it should follow https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki

In particular, it must be compatible with the fundraiser keys, ie. https://github.com/cosmos/fundraiser-lib/blob/master/src/wallet.js

(edit by @Liamsi) resolves #116

[2018-05-08 00:58] ebuchman commented on #89
Also, note, we currently encode the key type into the seed phrase.

Instead, we should have the output be something like `ed25519{monkey tree house ... }` so that the type is explicit and not encoded into the seed (the seed must be compatible with the bip39 standard and the fundraiser ...).

Related: https://github.com/cosmos/cosmos-sdk/issues/872

[2018-05-08 01:09] ebuchman commented on #57
The recover flow should enable us to specify an HD path as well. See https://github.com/tendermint/go-crypto/issues/90

[2018-05-08 01:10] ebuchman opened #90 "keys: Expose HD tooling"
We need to be able to recover private keys from the words written down in the fundraiser, which used HD (bip32). We already have the HD code under `keys/hd` but we don't expose it in any tooling.

We should have some way to specify an HD path when generating a secp256k1 key (note this only works for secp for now, not ed25519).

This is specifically to facilitate offline transactions, eg https://gi

[2018-05-08 01:12] ebuchman commented on #20
Oops, closing for https://github.com/tendermint/go-crypto/issues/90

[2018-05-08 01:12] #20 closed, assigned to nobody

[2018-05-08 14:47] jessysaurusrex opened #91 "Time signature comparison"
See [this](https://github.com/tendermint/security/issues/8) issue, Crypto-003.

[2018-05-08 14:50] jessysaurusrex opened #92 "PRNG seeding"
See [this](https://github.com/tendermint/security/issues/7) issue, Crypto-002.

[2018-05-08 14:54] jessysaurusrex opened #93 "Panic mitigation"
See [this](https://github.com/tendermint/security/issues/6) issue, Crypto-001.

[2018-05-09 11:18] liamsi opened #95 "'make all' fails and jenkins with it (go-bindata)"
Jenkins runs `make all` which fails (locally too).
[code]

[2018-05-09 11:36] liamsi commented on #95
target `all` should include `get_tools`

Be aware that the repo owner of go-bindata changed:

https://www.reddit.com/r/golang/comments/7vv9zz/popular_lib_gobindata_removed_from_github_or_why/
and
https://github.com/jteeuwen/go-bindata/issues/5

[2018-05-11 13:21] liamsi commented on #89
@ebuchman Just to be sure (before I start working on this): by implement you just mean the `Codec` interface should implement ... , right? You are not suggesting to add another BIP39 golang implementation?

[2018-05-12 14:41] ebuchman commented on #89
We can use an existing one - we'll have to review it tho. And it should probably fall under whatever policy we decide re https://github.com/tendermint/go-crypto/issues/60

[2018-05-14 20:42] ebuchman commented on #95
:o

Let's not use that and instead just hardcode the output ...

[2018-05-14 22:53] liamsi opened #99 "Package _nano is never build, never used, and doesn't compile"
copied over from https://github.com/tendermint/go-crypto/pull/96/files/ecc7cdfdf62350991fbfc092f2e51e4b1ee68091?utf8=%E2%9C%93&diff=unified#r188092482

the package _nano starts with an underscore. `go build` (and with it `go test`) completely ignores this package ...  (see https://golang.org/pkg/go/build/#Context.Import)

The package doesn't build (remove the underscore to reproduce). This is most

[2018-05-15 14:19] liamsi commented on #89
Hmm, we currently use https://github.com/tyler-smith/go-bip39 in the keys/hd subpackage. But there we basically check against test-vectors:
https://github.com/tendermint/go-crypto/blob/43570388a9dbb56e098bb30ff61d4b0d8795ae09/keys/hd/hd_test.go#L33
at the end of this test we verify that it yields the same results for the testfile:
https://github.com/tendermint/go-crypto/blob/43570388a9dbb56e098bb3

[2018-05-15 21:42] cwgoes opened #102 "Add `.IsValid()` method to pubkey interface"
Ref https://github.com/cosmos/cosmos-sdk/pull/943#discussion_r186583130

[2018-05-15 21:55] cwgoes commented on #99
Superseded by https://github.com/tendermint/go-crypto/pull/85 I think.

[2018-05-15 21:58] liamsi commented on #99
Thanks! #85 would also resolve #93 and make #96 obsolete then /cc @jessysaurusrex @ebuchman

[2018-05-15 21:59] cwgoes commented on #99
Yes, all the low-level Ledger communication code now lives in https://github.com/zondax/ledger-goclient.

[2018-05-15 22:01] liamsi commented on #99
Makes much more sense to me, too.

[2018-05-16 15:22] ebuchman commented on #99
Thanks guys

[2018-05-16 15:22] #99 closed, assigned to nobody

[2018-05-17 22:20] liamsi commented on #89
OK, after some long code reading and debugging sessions (comparing behaviour and outputs from golang and JS): above mentioned bip39 library (and some forks thereof) seems to do something funky sometimes when the generated entropy has leading zeroes... :-/

It seems related to how the library does the checksum calculation using a `big.Int` internally:
https://github.com/bartekn/go-bip39/blob/a05967

[2018-05-18 23:39] ebuchman commented on #89
Is this the same issue as https://github.com/cosmos/fundraiser-lib/blob/master/src/wallet.js#L94 ?

I also thought we had tests for this in keys/hd where test.json is generated by the JS code and we're testing we get the same result with tyler-smith - how did you find they dont match ?

[2018-05-21 21:49] liamsi commented on #89
It looks a bit similar but it isn't exactly the same.

Yes, we do (I linked them above). These tests fo not cover the `WordsToBytes` equiv. part of bip39. The only test there is one that takes a mnemonic and generates a seed from it (as described [here](https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki#from-mnemonic-to-seed) in the spec), (and from that seed creates a master and a pri

[2018-05-21 21:54] liamsi commented on #89
Maybe it's best to have a tendermint/bip32 fork with the changes applied in my/bartekn's fork. The we would want full compatibility to the fundraiser lib tested, though. At least for every aspect we use.

[2018-05-22 01:11] ebuchman opened #103 "ed25519 addresses: remove amino, use SHA256[:20]"
This causes pain in https://github.com/tendermint/go-crypto/issues/77 and is included in https://github.com/tendermint/tendermint/issues/1568

Let's make the PubKeyEd25519.Address() return the first 20 bytes of the hash of the raw 32-byte pubkey, no amino required

See new `tmhash` for the hash function: https://github.com/tendermint/tmlibs/pull/210

[2018-05-22 01:13] ebuchman commented on #77
Sorry for the trouble. Closing this issue for https://github.com/tendermint/go-crypto/issues/103

We'll make sure to have excellent documentation and lots of communication about it before this is released.

[2018-05-22 01:13] #77 closed, assigned to nobody

[2018-05-22 01:23] ebuchman commented on #84
Noted in https://github.com/tendermint/tendermint/issues/1502 and

[2018-05-22 01:46] ebuchman commented on #89
Wow! Thanks for the details. Just to be clear on steps:

1) generate entropy
2) convert entropy to mnemonic
3) hash mnemonic to get seed

You're saying all of this worked fine, but the function to go backwards from (2) to (1) was broken ?  Is that something we ever actually need to do ?

In `--recover`, it should be fine to just go from mnemonic to seed - why would we need to get back to the entro

[2018-05-22 11:46] liamsi commented on #89
Thanks, that is very helpful. Yes, what you write is correct: (2) to (1) does not work (in tyler-smith's lib).

Currently,`WordToBytes` doesn't do what you describe though (independent from the checksum mentioned in this issue description [above](https://github.com/tendermint/go-crypto/issues/89#issue-321007332)). Going [from mnemonic to seed](https://github.com/bitcoin/bips/blob/master/bip-0039.m

[2018-05-24 01:13] liamsi opened #107 "Simple Merkle Tree"
As with https://github.com/tendermint/go-crypto/pull/105 we moved the merkle and tmhash package from tmlibs to go-crypto.

This issue makes sure the following issues / comments / discussions do not get lost:

 - [x] merkle: add comment on 2nd pre-image (or other relevant) attacks: https://github.com/tendermint/go-crypto/pull/105#discussion_r190019455
- [ ] merkle: add to package description: when

[2018-05-29 16:48] liamsi commented on #89
bip32 / the fundraiser only operates on secp256k1. Do we really want to have different key-types here? Is the code used somewhere else (e.g. for signing) and not only for the wallet? Does it make sense to have the ed25519 option?

[2018-05-29 16:59] ebuchman commented on #89
No. I think you're right - since we're only focused on secp256k1 for users for now, we don't need ed25519 here, since this isn't where we manage validator keys.

We can let the KMS become the ed25519 key-management service.

That said, as work on HD-ed25519 and rostretto picks up, we will want to enable them for users through this keybase, so it will be valuable to have a way to handle different k

[2018-05-29 17:01] ebuchman commented on #89
Tendermint uses two ed25519 keys that it currently just saves in unencrypted files on disk: priv_Validator.json and node_key.json.

We could consider supporting these in the keybase, but for these keys we only want to enter the passphrase once, not every time we sign - or at least unlock it for some amount of time.

We're building the KMS (https://github.com/tendermint/kms) to manage the validator

[2018-05-29 17:23] liamsi commented on #89
That's very helpful. Thanks!

I'm wondering if wouldn't it make sense to add support for ed25519 keys (and others) later, as we really need them and keep the API here as simple as possible for now. As soon as we exactly know how we'll use other key-types, we can either generalize the public facing API here in go-crypto, or, even have a separate API/package for these other purpose(s). I prefer the

[2018-05-29 18:58] ebuchman commented on #89
Sounds good.

Gaia basically does the same thing as Tendermint.

PrivVal key generated here: https://github.com/tendermint/tendermint/blob/master/cmd/tendermint/commands/init.go#L34

NodeKey priv key is here: https://github.com/tendermint/tendermint/blob/master/node/node.go#L394

We also have another key for authenticated encryption with the validator signing process: https://github.com/tendermint

[2018-05-30 22:31] #91 closed, assigned to liamsi

[2018-05-30 22:31] #92 closed, assigned to liamsi

[2018-05-30 22:42] ebuchman commented on #39
Thanks for raising this and sorry it took so long to address.

We addressed it in https://github.com/tendermint/go-crypto/pull/97 by hashing the old and new seedBytes together before using it in the AES.

The point of this function is to protect against the possibility that the OS rng (crypto/rand) has itself been compromised.

That said, we're currently not using it anywhere, and it's use will be

[2018-05-30 22:42] #39 closed, assigned to nobody

[2018-05-30 22:43] #79 closed, assigned to nobody

[2018-05-30 22:43] UnitylChaos opened #111 "Interfaces for BLS / Aggregate Signatures"
WIP #109 adds two new interfaces:

https://github.com/tendermint/go-crypto/blob/f2d45a438487bf0d052f3b567859234772395eca/signature.go#L86-L91

and

https://github.com/tendermint/go-crypto/blob/f2d45a438487bf0d052f3b567859234772395eca/pub_key.go#L153-L156

KOSPubKey is needed for the ability to check that a BLS public key includes a proof of "Knowledge of Secret" to stop rouge key attacks. This cou

[2018-05-31 13:55] liamsi commented on #88
https://github.com/tendermint/go-amino/pull/161

[2018-05-31 19:29] cwgoes opened #114 "Improve Ledger error handling, change PrivKey API"
At the moment, most of the `PrivKey` methods (`Sign`, `PubKey`) don't have a way to return errors, so we must panic if we can't query the Ledger. This will also be a problem with future HW wallets or any other kind of asynchronous signatures.

Changing these interfaces might be annoying downstream though.

[2018-05-31 19:45] #93 closed, assigned to liamsi

[2018-06-01 16:02] ebuchman commented on #88
Closing for https://github.com/tendermint/tendermint/issues/1669

[2018-06-01 16:02] #88 closed, assigned to liamsi

[2018-06-04 08:11] chengwenxi opened #116 "Seed phrase has same last word when create a new key"
When I create a new key, it will return seed phrase with the same last word every time.
This should be caused by keybase.go#50,

`typ := cryptoAlgoToByte(algo)`
`secret = append([]byte{typ}, secret...)`

secret[0] is invariable, when BytesToWords, because of secret.length = 21 and words.length = 2048(2^11),  the last word index = f(secret.bits[21 * 8-11 * 15]) = f(secret.bits[3]) = f(secret[0].bit

[2018-06-04 09:28] liamsi commented on #116
Thanks a lot for raising this issue! We are currently refactoring the code you mentioned and the key-type won’t be encoded in like above anymore. Also, we will only support Secp256k1 keys initially. This makes the whole key-type obsolete.

Related issues/discussions: https://github.com/tendermint/go-crypto/pull/85#discussion_r191945815 and https://github.com/tendermint/go-crypto/issues/89#issuecom

[2018-06-04 15:55] chengwenxi commented on #116
Yes, it's important to be compatible with cosmos fundraiser keys.

[2018-06-05 18:04] bogrod commented on #89
Hello, I'm currently working on implementing an alternative signature scheme to ECDSA for use in tendermint/cosmos which would allow people to launch tokens and other projects secured with a quantum resistant lattice-based signature scheme BLISS https://github.com/bogrod/bliss This could also be used in the future to increase security of validator keys (also looking at SDK to bring BLISS to HSMs).

[2018-06-05 18:27] liamsi commented on #89
Hey @bogrod 👋 that sounds pretty interesting! And yes, not only relying on secp256k1 would be neat. That said ...

I'm currently redesigning the API and I asked myself the same question. We will definitely default to secp256k1. To be honest, I also think, we should drop the concept of key-types at least for the keys package. I do not see us moving to another curve for end-user wallets anytime soon

[2018-06-06 21:29] #102 closed, assigned to nobody

[2018-06-07 19:26] cwgoes commented on #114
Implemented in https://github.com/tendermint/go-crypto/pull/117.

[2018-06-09 02:27] ValarDragon opened #119 "Handling of Secp256k1 signature malleability"
TL;DR: Do we want the following to be an invariant of `signature.Equal`: It returns true for two signatures which are both valid for a given public key and message pair. If we want this to be an invariant we have to mildly adapt the equality implementation for secp256k1.

Secp256k1's signing algorithm is ecdsa. In ecdsa, the signature is of the form `(r,s)`. However anyone given a valid signature

[2018-06-09 04:12] ValarDragon commented on #69
I support returning an error. This is in line with the return type of golang's signer interface. (`https://github.com/golang/go/blob/master/src/crypto/crypto.go#L115`)

[2018-06-09 18:12] ValarDragon opened #120 "Specify where we got the xchacha20 implementation"
Currently I can't tell where we got our current xchacha20 implementation from. Did we write it all ourselves? I suspect not, since there is a MIT license in the middle of the file. We didn't get it from libsodium (as far as I can tell), since their license is ISC.

Can we add a doc.go file to the xchacha20 folder specifying where we got the code from (Or at least the MIT licensed part)?

[2018-06-10 02:17] cwgoes opened #121 "Use non-Amino encoding for PrivKey, PubKey, Signature"
Do we really want to encode private keys, public keys, and signatures with Amino? Those are all essentially just bytes anyways, and we'll need them to interoperate with external tools, many of which would probably prefer a simpler encoding scheme. At minimum, we should offer users the option.

[2018-06-10 02:49] ValarDragon commented on #121
I definitely support not using Amino for these. If keys are being stored amino-fied on-chain, it will make parsing significantly harder, since most things expect DER or PEM or already decoded values.

I think it would be nice to use one of the standards for encoding private keys (i.e. PEM). DER would work well for signatures and pubkeys too. (Not suggesting PEM for these, since we don't want the h

[2018-06-11 02:43] liamsi commented on #121
I think that's a good suggestion. In any case, I wonder if the crypto library shouldn't just return raw bytes instead and let the caller decide which encoding to choose (in cosmos-sdk / tendermint)?

[2018-06-11 02:48] ValarDragon commented on #121
That would be fine too, as long as we document the raw byte representation well. (Big endian vs little endian, is length always padded to a fixed length, and if so is it prefixed by a null byte, etc.)

[2018-06-11 03:53] liamsi opened #122 "Delete SimpleProofsFromMap"
Following up on a discussion with @mossid about returning the keys in an array additionally to the map (in  https://github.com/tendermint/go-crypto/pull/115 :

Couldn't we pass a list of key-value pairs `KVPairs` as an argument instead of a map in:
https://github.com/tendermint/go-crypto/blob/710efe576acfcc22ead7781cec67a1265cbba0b0/merkle/simple_proof.go#L30

Then we wouldn't need to sort the map

[2018-06-11 19:19] ValarDragon opened #124 "Improve error message for the word codec?"
Would it be possible to improve the error message [here](https://github.com/tendermint/go-crypto/blob/develop/keys/words/wordcodec.go#L163) in the word codec? I haven't looked at the relevant part of the code to debug what the possible types of errors there are though, but the current error message isn't helpful for debugging what a user did wrong. (Though the cause of the error might be unclear)

[2018-06-11 19:25] liamsi commented on #124
Thanks dev! This code will be deleted in https://github.com/tendermint/go-crypto/pull/118
We will use a 3rd party library (https://github.com/bartekn/go-bip39) it would just return "Invalid mnemonic" I think. But we can change that (or add further hints what is wrong).
In your case ("apple banana cat dog"), we could show: mnemonic should be 12 (fundraiser) or 24 (fresh keys) words. I'll add some n

[2018-06-11 19:27] ValarDragon commented on #124
Thanks Ismail! Sounds great

[2018-06-11 23:31] liamsi opened #125 "Proposal: completely remove dependency on amino"
related #121

[2018-06-12 05:22] liamsi commented on #103
resolved via #112

[2018-06-12 05:22] #103 closed, assigned to nobody

[2018-06-12 05:24] liamsi commented on #84
resolved via #110

[2018-06-12 05:24] #84 closed, assigned to nobody

[2018-06-12 05:30] liamsi opened #129 "Proposal: minor API simplifications"
- remove error from privKey.PublicKey(), if one already has the priv. key in hand the pub-key should be derivable from that without erroring: resolved via #131
- remove the `Get*` in front of the `Info` interface methods: "it's neither idiomatic nor necessary to put Get into the getter's name." https://golang.org/doc/effective_go.html?#Getters

[2018-06-12 05:31] liamsi commented on #114
resolved in #117
added the changes we discussed a separate issue #129

[2018-06-12 05:31] #114 closed, assigned to cwgoes

[2018-06-12 08:04] cwgoes commented on #129
Agreed on both counts. Need to make sure we store and cache the public key when creating a remote private key (e.g. on the Ledger device) to fulfill this API.

[2018-06-12 08:44] liamsi commented on #95
resolved by #101

[2018-06-12 08:44] #95 closed, assigned to nobody

[2018-06-12 08:46] liamsi commented on #69
there are a few places left were go-crypto code panics but signing is addressed and resolved by #117

[2018-06-12 08:46] #69 closed, assigned to nobody

[2018-06-12 08:48] liamsi commented on #57
#118 tackles this the following way: if given an empty password, the (private) key is not persisted.

possible in #118 (BIP 44 is fully supported by keybase API, arbitrary BIP 32 paths are also supported via the hd package, i.e. without the persistence support etc)

[2018-06-12 10:15] liamsi opened #130 "Update tendermint encoding spec docs"
Update https://github.com/tendermint/tendermint/blob/master/docs/spec/blockchain/encoding.md#public-key-cryptography to match
https://github.com/tendermint/go-crypto/blob/42c6a64e0421c149de4733a14884c0ca4be7d6d5/encode_test.go#L45-L56

(creating issue here instead of tendermint because it's easier for me to track this here)

[2018-06-15 01:36] ValarDragon commented on #120
Closed by #135

[2018-06-15 01:36] #120 closed, assigned to nobody

[2018-06-15 04:55] ValarDragon opened #136 "Refactor go-crypto to reduce number of files in top level directory"
The top level directory of go-crypto is starting to get a bit crowded imo. I think we should adopt a directory format similar to what golang adopts: https://github.com/golang/go/tree/master/src/crypto.

Namely, we would have one file in the top level directory declaring all of the interfaces. Then we have a directory for every cryptosystem. (Ed25519, Secp256k1, Ledger) This means the signature int

[2018-06-15 05:07] ValarDragon opened #137 "Symmetric: Make it unexported, and move to keys"
Currently `Symmetric.go` isn't used anywhere in cosmos / tendermint stuff, other than inside of go-crypto for "armoring" private keys. `Symmetric.go` is currently just wrapping `secretbox`'s seal/open methods. I think we shouldn't export this publicly, since this won't be used outside of our key management stuff. (We won't use the code in `Symmetric.go` inside of tendermint's `secret_connection.go

[2018-06-15 05:19] ValarDragon opened #138 "Change privkey symmetric encryption algo: xsalsa20poly1305 to hkdfchacha20poly1305"
Basically the title. Currently we encrypt our private keys created gaiacli via nacl's secretbox which is xsalsa20poly1305. Should we switch this to our hkdfchacha20poly1305 AEAD (#135)? This also lets us remove the `nacl` dependency.

/cc @zmanian

[2018-06-15 22:42] ValarDragon opened #140 "Ed25519: Switch implementation to a C based implementation"
Our Ed25519 implementation benchmarks verification speed using a 11byte message. On my system, (2.8GHz, Intel i7 Kaby Lake, no other programs running), this took `193758` nanoseconds.
Converting into verifications per second, this is `5161` verifications per second. (Note this could have been subject to external interference, since this is a Ubuntu install which likely had background programs runn

[2018-06-16 01:18] liamsi commented on #140
Cool. I'm in favour of a solid rust implementation and then compare that against an existing C version.

[2018-06-19 22:25] liamsi opened #141 "Move keybase to cosmos"
As discussed with @xla and @cwgoes:

- [x] delete keybase / ledger code from go-crypto (#142)
- [x] move keys/ledger-code to cosmos (make sure it is not used anywhere else first), ideally preserving the directory's git history
~~depends on #118~~ (merged)

Rationale:
- get rid of the cgo dep.
- move code to where it is used (cosmos-sdk/client/lcd)
- also, go-crypto & tendermint will get merged soo

[2018-06-20 21:36] cwgoes opened #143 "Repo consolidation"
In order:
1. Move remaining `go-crypto` functionality into Tendermint via PR to Tendermint (@Liamsi)
2. Make PR on SDK to import from Tendermint instead of from `go-crypto` and to include keybase / Ledger (@cwgoes)
3. Merge PRs
4. Profit!

[2018-06-20 21:37] cwgoes commented on #141
Merged, see https://github.com/tendermint/go-crypto/issues/143 for repo consolidation.

[2018-06-20 21:37] #141 closed, assigned to liamsi

[2018-06-21 09:51] ValarDragon commented on #143
Do issues need to be recreated by hand by the respective issue creators?

[2018-06-21 16:06] cwgoes commented on #143
Ideally we could port them automatically, perhaps with something like [this](https://github.com/google/github-issue-mover).

[2018-06-23 11:34] ValarDragon commented on #136
Turns out that having a `types.go` file in the top level directory causes import cycles. (We need to import every subtype for amino, and every subtype needs to know the types). There are two options here. Either seperate out amino into a subpackage of crypto, or separate the interfaces into a subpackage. I definitely think it makes more sense to make amino a subpackage to avoid the import cycle. (

[2018-06-29 07:08] #81 closed, assigned to nobody

[2018-07-03 00:52] liamsi commented on #129
- error has been removed in #131
- discussion regarding the getters should happen in cosmos-sdk

[2018-07-03 00:53] #143 closed, assigned to nobody

[2018-07-03 00:54] liamsi commented on #143
resolved via
https://github.com/cosmos/cosmos-sdk/pull/1386
https://github.com/cosmos/cosmos-sdk/pull/931
https://github.com/tendermint/tendermint/pull/1782

[2018-07-03 03:38] cwgoes commented on #129
Moved to https://github.com/cosmos/cosmos-sdk/issues/1518.

[2018-07-03 03:38] #129 closed, assigned to liamsi

[2018-07-03 16:32] liamsi commented on #116
This should be obsolete now!

[2018-07-03 16:32] #116 closed, assigned to nobody

[2018-07-03 16:32] liamsi commented on #57
Possible via not providing a password to encrypt on disk (code moved over to cosmos-sdk).

[2018-07-03 16:32] #57 closed, assigned to liamsi

[2018-07-03 16:33] liamsi commented on #89
It does now via  #118

[2018-07-03 16:33] #89 closed, assigned to liamsi

[2018-07-03 16:35] liamsi commented on #130
Not necessary to keep track of this here. Hail repo consolidation ...

[2018-07-03 16:35] #130 closed, assigned to liamsi

[2018-07-03 16:36] liamsi commented on #90
possible via #118 (now living in cosmos-sdk).

[2018-07-03 16:36] #90 closed, assigned to liamsi

[2018-07-03 16:42] liamsi commented on #122
Was rediscussed offline with @mossid: could be kept as mere wrapper around `SimpleProofsFromHashers` instead. Moved to https://github.com/tendermint/tendermint/issues/1889

[2018-07-03 16:42] #122 closed, assigned to nobody

[2018-07-03 16:46] ValarDragon commented on #89
Wait, are we sure that we don't want to encode the keytype with the key? I think if we don't do that, then it will be harder to change key types in the future. I'm not suggesting supporting multiple key types / hd derivation for all keys. I'm just suggesting that it be possible to derive the key type from the encoded form. (Unless I misunderstood the above)

[2018-07-03 16:49] liamsi commented on #89
Hmm, currently we only support one key-type using this API (secp256k1). Bip39 currently only supports secp256k1. There are efforts to make this work with other curves (like our beloved ed25519) but this is currently not the case. Should we move this discussion to cosmos-sdk?

[2018-07-03 16:51] ValarDragon commented on #89
Moving the discussion to a new issue in the sdk sounds good to me!

[2018-07-03 16:52] liamsi commented on #89
You could still switch-case over the type of the key btw (encoding the type in the seed might be dangerous as mentioned here for example: https://github.com/tendermint/go-crypto/issues/116)

[2018-07-03 16:54] ValarDragon commented on #89
Oh cool. Just wanted to make sure that amino encoded the type of the key. Since it does, that alleviates my concern of it being hard to add new key types in the future. Thanks for the clarification!

[2018-07-03 16:55] liamsi commented on #89
Ah OK, I see where you're coming from. Yeah, the keys are registered in the amino coded 👍

[2018-07-03 17:05] liamsi commented on #107
Moved to https://github.com/tendermint/tendermint/issues/1892

[2018-07-03 17:05] #107 closed, assigned to liamsi

[2018-07-07 15:47] #140 closed, assigned to nobody

[2018-07-11 02:35] ValarDragon commented on #121
Here is my concrete proposal for how to do this. If this sounds good, I'll just go ahead and implement this.

We make an enum for pubkey types. (value being a uint). We use uvarint encoding, and we marshal / unmarshal these pubkeys as
`varuint(PUBKEY_TYPE_CONSTANT) || canonical pubkey encoding`
We do not need upgradability in the pubkey encoding, other than what is already in the standard encoding

[2018-07-11 17:12] #137 closed, assigned to nobody

[2018-07-11 17:22] ValarDragon commented on #138
closing in favor of tendermint/tendermint issue

[2018-07-11 17:22] #138 closed, assigned to nobody

[2018-07-11 17:25] ValarDragon commented on #136
Closed in favor of tendermint/tendermint issue

[2018-07-11 17:25] #136 closed, assigned to nobody

[2018-07-11 17:40] ValarDragon commented on #125
Closing in favor of the tendermint issue. Seperate issues should be made with proposal for how to replace amino in each of the current usages I think.

[2018-07-11 17:40] #125 closed, assigned to nobody

[2018-07-11 17:40] ValarDragon commented on #121
Closing in favor of the tendermint issue. Lets continue conversation there.

[2018-07-11 17:40] #121 closed, assigned to nobody

[2018-07-11 17:41] ValarDragon commented on #124
Closing this issue, since it was handled with the key package update.

[2018-07-11 17:41] #124 closed, assigned to nobody

[2018-07-11 17:42] ValarDragon commented on #119
Closing in favor of https://github.com/tendermint/tendermint/issues/1958

[2018-07-11 17:42] #119 closed, assigned to nobody

[2018-07-11 17:47] ValarDragon commented on #111
I think this interface should be decided through an ADR on tendermint/tendermint, where we can discuss / comment on that, and be made with Davros in mind. Feel free to open the same issue on tendermint though.

[2018-07-11 17:47] #111 closed, assigned to nobody

[2018-07-11 17:49] ValarDragon commented on #67
I am working on an ADR for this, however my proposal looks significantly different from this. I will refrain from posting an explanation right now, as I expect to have a PR with the ADR today / tomorrow.

[2018-07-11 17:49] #67 closed, assigned to nobody

[2018-07-11 18:01] ValarDragon commented on #72
This has been fixed
[code]

[2018-07-11 18:01] #72 closed, assigned to adrianbrink

[2018-07-11 18:07] ValarDragon commented on #60
Closing in favor of the tendermint issue.

[2018-07-11 18:07] #60 closed, assigned to nobody